*.aux
*.glo
*.hd
*.idx
*.log
*.out
*.pdf
*.sty
*.tex
*.toc
*.gls                                                                 
*.ilg                                                                 
*.ind
