*.aux
*.glo
*.hd
*.idx
*.log
*.out
*.pdf
*.sty
*.toc
*.gls                                                                 
*.ilg                                                                 
*.ind
expkv.tex
Benchmarks/*.txt
Benchmarks/*.png
build
